# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Data and models
data/*.csv
models/*.joblib
models/*.pkl

# Jupyter Notebooks
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db
