# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Data and models
data/*.csv
!data/predictions.csv      # keep only predictions
models/*.joblib
!models/revenue_model.joblib  # keep only the latest model

# Jupyter Notebooks
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db
